@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputs {
    @apply w-full rounded-sm px-2 py-1 text-black outline-none;
  }
}

label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}
